<!DOCTYPE html>
<html>
<head>
<%= javascript_include_tag 'application' %>
<script>

var loginGoogle = function(){
  hello.init({
      google: '350668528555-ctoqagahaa5eohkm30uf6vl5mo52qt0e.apps.googleusercontent.com',
      //google: '730221684703-rsvgrrkhnq3v1sbg0engf4od538p5lv4.apps.googleusercontent.com'
  });
  hello('google').login({response_type:'code', force:true, scope:"email"},function(){
    var req = {};
    var auth = hello('google').getAuthResponse();
    req = auth;
    req.task = "login";
    req.marketing_site = true;
    $.ajax({
        url : "https://localhost:8085/auth/google",
        type: "POST",
        dataType:"json",
        data : JSON.stringify(req),
        contentType: "application/json",
        success: function(data, textStatus, jqXHR)
        {
          console.log('the data is', data);
          console.log('the acRefreshToken is', data.acRefreshToken);  
        },
        error: function (jqXHR, textStatus, errorThrown)
        {
          console.log('error');
          console.log(errorThrown);
          console.log(textStatus);
        }
    });
  });
};
var loginMicrosoft = function(){
  hello.init({
      windows:'000000004416F168',
  });
  hello('windows').login({response_type:'code', force:true},function(){
    hello('windows').api('/me').then(function(r) {
      res = hello('windows').getAuthResponse();
      s = r;
    });
  });
};
</script>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/4.10.1/bootstrap-social.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<style>.btn{width:200px;}</style>
</head>
<body>


 <div class="container">

                <button onclick="loginMicrosoft();" class="btn btn-block btn-social btn-microsoft"><span class="fa fa-windows"></span> Microsoft</button>
                <button onclick="loginGoogle();" class="btn btn-block btn-social btn-google"><span class="fa fa-google-plus"></span> Google</button>
                <form name="loginform" onSubmit="return validateForm();" action="main.html" method="post">
                    <label>User name</label>
                    <input type="text" name="usr" placeholder="username"> 
                    <label>Password</label>
                    <input type="password" name="pword" placeholder="password">
                    <input type="submit" value="Login"/>
                </form>

                <script>
                    function validateForm() {
                        var un = document.loginform.usr.value;
                        var pw = document.loginform.pword.value;
                        var username = "username"; 
                        var password = "password";
                        if ((un == username) && (pw == password)) {
                            return true;
                        }
                        else {
                            alert ("Login was unsuccessful, please check your username and password");
                            return false;
                        }
                  }
                </script>
    </div> <!-- /container -->

</body>
</html>